html {
  scroll-padding-top: 20px;
}

* {
  /* basic reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* smooth scroll */
  scroll-behavior: smooth;
}

* :not(a) {
  /* default cursor on text */
  cursor: default;
}

/* color variables */
:root {
  --main-color: #0d1117;
  --main-color-hover: #1f2937;
  --cv-items: #4493f8;
  --links: #4493f8;
  --link-hover: #75affa;
  --note: #4493f8;
  --border-color: #3d444d;
  --body-text: #f0f6fc;
}

body {
  background-color: var(--main-color);

  /* font properties */
  color: var(--body-text);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.25em;
  line-height: 1.8em;
}

.centered {
  margin: auto;
  width: 70%;
}

header {
  text-align: center;
  margin: 2em 0;
  min-width: 720px;
}

nav {
  border: 1px solid black;
  overflow: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  min-width: 160px;
  background-color: var(--main-color);
  color: black;
  border-right-color: var(--border-color);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  transition: 1s;
  border-bottom: 1px solid var(--border-color);
}

nav li:hover {
  background-color: var(--main-color-hover);
  transition: 0.4s;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 5px;
}

main {
  /* main borders */
  border: 1px solid var(--border-color);
  border-radius: 6px;

  padding: 50px;
  min-width: 720px;
  overflow: hidden;
}

main * {
  margin: 1em 0;
}

main h2 {
  display: inline-block;
  border-bottom: 2px solid var(--body-text);
}

main ul {
  margin-left: 1.5em;
}

main .content {
  list-style: none;
}

main > ol > li::marker {
  font-size: 1.5em;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--link-hover);
}

.note {
  border-left: 5px solid var(--cv-items);
  padding-left: 20px;
}

.note h4 {
  color: var(--cv-items);
}

.cv-item {
  color: var(--cv-items);
}

footer {
  margin-top: 40px;
  padding: 40px;
  background-color: #f0f6fc;
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  min-width: 720px;
}

footer a {
  text-decoration: none;
}

img {
  transition: 1s;
}

#avatar {
  float: right;
  margin-left: 50px;
}

#avatar:hover {
  transform: scale(1.1);
}

#rsschool-logo {
  margin: 50px;
  width: 10em;
}

#creation {
  margin: 50px;
}

#rsschool-logo:hover {
  transition: 1s;
  transform: scale(1.2);
}

/* responsive */
@media screen and (max-width: 1024px) {
  html {
    scroll-padding-top: 60px;
  }

  nav {
    position: sticky;
    width: 100%;
    min-width: 720px;
    border: none;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
    margin-bottom: 20px;
  }

  nav > ul > li {
    float: left;
    border: none;
    border-right: 1px solid var(--border-color);
  }
}
