html {
  scroll-padding-top: 4em;
}

* {
  /* basic reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* smooth scroll */
  scroll-behavior: smooth;
}

/* color variables */
:root {
  --nav-color: #010409;
  --nav-color-hover: #1f2937;
  --main-color: #0d1117;
  --cv-items: #4493f8;
  --links: #4493f8;
  --link-hover: #75affa;
  --note: #4493f8;
  --border-color: #3d444d;
  --body-text: #f0f6fc;
  --footer-bg-color: #f8fafc;
  --footer-links: #4d76ff;
  --footer-links-hover: #003afa;
}

body {
  background-color: var(--main-color);

  /* font properties */
  color: var(--body-text);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-size: 1.1em;
  line-height: 2em;
}

header {
  text-align: center;
  margin: 2em auto;
}

nav {
  position: sticky;
  top: 0;
  background-color: var(--nav-color);
  border-width: 1px 0;
  border-style: solid;
  border-color: var(--border-color);
  overflow: hidden;
  margin-bottom: 20px;
}

nav ul {
  display: flex;
  overflow: auto;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  transition: 0.4s;
}

nav li:hover {
  background-color: var(--nav-color-hover);
  transition: 0.4s;
}

nav a {
  text-decoration: none;
  display: block;
  padding: 10px;
}

main {
  /* main borders */
  border: 1px solid var(--border-color);
  border-radius: 6px;

  overflow: hidden;
}

main h2 {
  display: inline-block;
  border-bottom: 2px solid var(--body-text);
}

main h2,
main h3,
main > p,
.note {
  margin: 0.4em 5%;
}

main > p {
  text-indent: 1.4em;
  text-align: justify;
}

main ul {
  margin-left: 1.5em;
}

main .content {
  list-style: none;
}

main li {
  margin: 0.9em 1.8em;
}

a {
  color: var(--links);
}

a:hover {
  color: var(--link-hover);
}

.note {
  margin: 2em;
  border-left: 5px solid var(--cv-items);
}

.note-header {
  padding-left: 1em;
  font-weight: bold;
  color: var(--cv-items);
}

.note-text {
  padding: 0.5em 1em;
  font-size: 1.2em;
  text-align: justify;
}

.cv-item {
  color: var(--cv-items);
}

footer {
  margin-top: 1em;
  padding: 2em 0;
  background-color: var(--footer-bg-color);
  color: black;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer li {
  margin-top: 1em;
}

footer a {
  text-decoration: none;
  color: var(--footer-links);
}

footer a:hover {
  color: var(--footer-links-hover);
}

img {
  transition: 1s;
}

#avatar {
  display: block;
  margin: 0.5em auto;
  width: 90%;
  border-radius: 50%;
}

#creation {
  margin: 50px 0;
}

#rsschool-logo {
  width: 80%;
}

/* for ultra small screens */
@media screen and (max-width: 320px) {
  main * {
    word-break: break-word;
  }
}

/* tablet */
@media screen and (min-width: 426px) {
  main {
    padding: 2.5%;
  }
  #avatar {
    float: right;
    width: 45%;
    margin: 2em;
  }
}

/* PC */
@media screen and (min-width: 1100px) {
  html {
    scroll-padding-top: 1.5em;
  }
  * :not(a) {
    /* default cursor on text */
    cursor: default;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    min-width: 200px;
    border: none;
    border-right: 1px solid var(--border-color);
  }

  nav ul {
    flex-direction: column;
  }

  nav li {
    transition: 1s;
    border: none;
    /* border-bottom: 1px solid hsl(216, 28%, 12%); */
  }

  nav li:hover {
    background-color: var(--nav-color-hover);
    transition: 0.4s;
  }

  nav a {
    padding: 15px;
  }
  main {
    padding: 2.5%;
  }
  main h2,
  main h3,
  main > p {
    margin: 0.8em 5% 0;
  }
  main > p {
    text-indent: 3em;
  }

  .centered {
    margin: auto 20%;
  }

  #avatar {
    float: right;
    width: 30%;
    margin: 2em;
  }

  #avatar:hover {
    transform: scale(1.1);
  }

  footer a {
    position: relative;
  }

  footer a::before {
    content: "\1F449";
    position: absolute;
    opacity: 0;
    top: 0;
    left: -50px;
    transition: 0.4s;
  }

  footer a:hover::before {
    opacity: 1;
    left: -40px;
  }

  #rsschool-logo {
    width: 40%;
  }

  #rsschool-logo:hover {
    transition: 1s;
    transform: scale(1.1);
  }
}

/* bigger screen */
@media screen and (min-width: 1441px) {
  html {
    font-size: 1.8em;
  }
  nav {
    width: 16%;
  }
  nav a {
    padding: 30px;
  }
}
